<mat-sidenav-container>
  <!-- <div id='scores'></div> -->
  <mat-sidenav #sidenav>
    <mat-toolbar color="primary">
      CheatCode Pages
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/home']">
        Home
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/login']">
        Login
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/face-detection']">
        Face Detection
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/about']">
        About
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/contact']">
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar style="height: 40px" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="start stretch"> 
    <div class="container" class.gt-xs="container-extra-padding" fxFlex fxFlex.mat="960px" fxFlex.gt-mat="1100px">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
