<style>
    h1 {color: lightseagreen;font-size: 300%;text-align: center;}
    p {color: black; font-size: 130%;text-align: left;font: bold;}
    p {color: black; font-size: 130%;text-align: left;font: bold;}
    *{background-color: lavender;}
</style>

<div>
    <br>
    <h1>About CheatCode</h1>
    <br><p>A major challenge with online classes is conducting and monitoring exams. With a limitless resource from books and the internet, having exams without using these references is nearly impossible and hence, students lose the essence of knowledge. 

        CheatCode is inspired from these motives and aspires to create an environment that lets teachers, professors and other faculty members hold exams without the risk of students cheating. With this motive, we think that students will take online classes more seriously and thus gain the intended knowledge from respective courses. 
    </p>

    <br><p>CheatCode uses a facial recognition API to confirm the identity of students taking the exam. This is done by comparing a pre-uploaded photo with the live facial recognition feature. 

        Additionally, CheatCode intends to use eye tracking in order to monitor where a student’s eyes are on the screen or to make sure their eyes are focused on the screen. 
        
        Another feature that CheatCode will implement is giving restricted access once the web-app is opened. This access will be controlled by the facilitator - deciding on what resources students can access if any, or none. If students try to access anything that is not allowed, necessary flags will be raised to notify the facilitator with this activity. 
        </p>

</div>