<div>
    <!-- <div *ngIf="isLoggedIn">
        Signed in as {{userInfo}}
        <button (click)="authService.logout()" mat-raised-button color="primary" type="submit">logout</button>
    </div>
    <div *ngIf="!isLoggedIn">
        <button (click)="authService.login()" mat-raised-button color="primary" type="submit">login</button>
    </div> --> 
    
    <style>
        h1 {color: lightseagreen; text-align: center; font-size: 300%;}
        label {color: lightseagreen;font-size: larger;}
        button {color:lightseagreen;}
        ::placeholder {color: gray;}
        *{background-color: lavender;}
    </style>
    
    <br>
    <h1><b>Login to CheatCode!</b></h1>
    
    
</div>

<div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<!-- 
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> -->

    <button type="submit"><b>Login</b></button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <!-- <div class="container">
    <span style = "color:lightseagreen" class="psw"> Forgot <a href="#">password?</a></span>
  </div> -->


  <!--credits: https://www.w3schools.com/howto/howto_css_login_form.asp -->
