<div>
    <div>    
        <style>
    
            h1   {color: lightseagreen; font-size: 500%; text-align: center;}
            p    {color:blueviolet; text-align: center;}
             *{background-color: lavender;} */
        </style>
            
        <h1><br><b>Welcome to CheatCode!</b></h1>
        <p>keeping an eye on your students, even when you can't</p>
    </div>
    <div id="logodiv">
        <img src="/assets/logo.jpg" height="500" width="400" alt="">
    </div>
</div>

<!-- <html>
    <div>
        
    <style>
    
        h1   {color: lightseagreen; font-size: 500%; text-align: center;}
        p    {color:blueviolet; text-align: center;}
         *{background-color: lavender;} */
        </style>
        <body>
            <h1><br><b>Welcome to CheatCode!</b></h1>
            <p>keeping an eye on your students, even when you can't</p>
            <img src="https://drive.google.com/file/d/1GmzFv-PpJaFu4zXMkHTT0M9oEzscJo9Y/view" height="500" width="400" alt="">
        </body>     
    </div>
<html> -->