<br>
<h1>Face Detection</h1>
<br>

<div style="position: relative" class="margin">
  <video id="inputVideo" autoplay muted></video>
  <canvas id="overlay"></canvas>
</div>

<style>
  h1   {color: lightseagreen; font-size: 300%; text-align: center;background-color: lavender;}  
  h2   {color:lightseagreen; font-size: 200%; text-align: left;background-color: lavender;}
  input    {color:blueviolet;}
  </style>

<div>
  <body>
    <br>
    <h2>Upload your picture here</h2>
    <input type="file" accept="image/*" capture="camera">
  </body>
</div>